/*Global*/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 100;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 1em;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 1em 5em;
  margin: 1.5em 0;
  border-radius: 5px;
  border: none;
}
.btn a {
  font-size: 1.2em;
  font-weight: 500;
}
#secondary-btn {
  background: none;
  border: 1px solid;
}
#imagecontainer {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4em;
}
#imagecontainer img {
  border-radius: 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.icons a {
  text-decoration: none;
}
.icons i {
  padding: 0.1em;
  color: #fff;
}

.line {
  /* width: 100%; */
  border: 1px solid #c4c4c4;
  display: inline-block;
}
#line1 {
  width: 50%;
  margin-top: 5em;
}

#line2 {
  width: 50%;
  margin-left: 2em;
}

.input-row input {
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100%;
}

/*menu-*/

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}

.menu.show {
  z-index: 1;
  visibility: visible;
}

.nav-bar {
  /* display: flex; */
  /* align-items: center; */
  color: #ffff;
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.search-container {
  display: flex;
}
.searchbar {
  background: black;
  width: 100%;
  padding: 0.5em;
  color: #fff;
  text-align: left;
  margin: 0;
  border-radius: 5px;
}

.search-container button {
  padding: 0.5em;
  border-radius: 5px;
}

.nav-logo {
  display: inline-block;
  font-size: 1.5em;
  padding: 1em;
}
.logo-firstline {
  font-style: italic;
  font-weight: 800;
}
.logo-secondline {
  font-style: normal;
  font-weight: 300;
}

/* Next launch */
.next-launch {
  background: #eaeaea;
  color: black;
  padding: 2em;
}
.next-launch span {
  font-weight: 500;
}
.next-launch h3 {
  color: #000;
  font-size: 2em;
  font-weight: 300;
  padding: 0;
}
.next-launch ul {
  display: flex;
  /* flex-flow: row wrap; */
  text-align: start;
  padding: 0;
}
.next-launch li {
  padding: 0.5em;
}

/*menu slide*/
.next-launch-container,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  overflow: hidden;
  background: #000;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  text-align: center;
}
.menu-nav.show,
.next-launch-container.show {
  transform: translate3d(0, 0, 0);
}

.menu-nav {
  height: 60vh;
  transform: translate3d(100%, 0, 0);
}
.next-launch-container {
  transform: translate3d(100%, 0, 0);
}

.nav-item {
  transform: translate3d(-600px, 0, 0);
}

.next-launch-container {
  /* z-index: 10; */
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.next-launch-container.show {
  transform: translate3d(0, 0, 0);
}
.next-launch-container ul {
  transform: translate3d(-600px, 0, 0);
  transition: all 0.7s ease-out;
}
.next-launch-container.show ul {
  transform: translate3d(0, 0, 0);
}

#current {
  color: #2690d4;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 200;
  transition: 0.5s ease-out;
}

.nav-item a:hover {
  color: #2690d4;
  transition: all 0.5s ease-out;
}
.nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.nav-item.show {
  transform: translate3d(0, 0, 0);
}

/*Delay*/
.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-btn {
  position: fixed;
  z-index: 11;
  right: 25px;
  bottom: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.btn-line {
  border-radius: 5px;
  width: 25px;
  height: 4px;
  margin: 0 0 5px 0;
  background: #ffff;
  transition: all 0.5 ease-out;
}
#offset-line {
  position: relative;
  right: -5px;
}

/*Menu transition*/
.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(44deg) translate(6px, 6px);
  background: #2690d4;
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-44deg) translate(7px, -6px);
  background: #2690d4;
}

/*header*/

#showcase .content-wrap {
  position: absolute;
  top: 5em;
}

#showcase {
  background: #333;
  text-align: center;
  height: 95vh;
}

#showcase .bg-img {
  background: url("../images/planet-581239.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100vh;
}

#showcase h1,
h2 {
  color: #fff;
}
#showcase h1 {
  font-size: 3em;
  font-weight: 500;
}
#showcase h2 {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  /* margin-bottom: 2em; */
}
#showcase .btn {
  margin-top: 5em;
  background: #eaeaea;
}

/*Section A */
#section-a #line1 {
  margin-left: 10em;
  width: 50%;
}
#section-a #line2 {
  margin-top: 3em;
}
.company-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 3em;
}

.company-info li {
  align-items: center;
  padding: 1em 2em;
  font-weight: 500;
}

.info-title {
  padding: 0.5em;
}

#section-a .secondary-logo {
  margin: 15em 1em;
}
#section-a {
  background: url("../images/background1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

/*Section B */
#section-b h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}
#section-b h2 {
  font-size: 2em;
  font-weight: 300;
}
#section-b h3 {
  padding: 0.1em;
  font-weight: 500;
}
#section-b p {
  padding-top: 2em;
}

.history-container {
  padding: 1em;
  margin-top: 3em;
}
.history-container p {
  width: 70%;
  margin: 0 auto;
}

#section-b {
  background: url("../images/background2.svg");
  background-size: cover;
  width: 100%;
  height: auto;
}

/*Section C */
#section-c {
  background: url("../images/background5.svg");
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: -20px;
}

.youtube-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 15em;
  padding-bottom: 3em;
}

iframe {
  width: auto;
  margin: 0 auto;
  padding: 0.5em;
  height: 200px;
  border-radius: 30px;
}

#section-c .icons {
  display: flex;
  padding-top: 3em;
}
#section-c .icons i {
  color: #000;
  margin-left: 1em;
}
#section-c a {
  font-style: italic;
  font-size: 1.5em;
}
#section-c #line1 {
  margin: auto 10em;
}

/*Section D */

#section-d {
  background: url("../images/background3.svg");
  background-size: cover;
  width: 100%;
  height: auto;
}
.first-container {
  padding-top: 13em;
  padding-bottom: 3em;
}

#section-d h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  padding-top: 2em;
  padding-bottom: 2em;
}
.falcon9-container {
  padding: 1em;
}

#section-d p {
  padding: 2em;
  color: white;
  font-weight: 500;
}
.rocket-info {
  color: #fff;
  margin: 0;
  padding: 2em;
}
.rocket-info li {
  line-height: 1.5;
  font-weight: 300;
}
#section-d #secondary-btn {
  border: 1px solid #fff;
}
#section-d #secondary-btn a {
  color: #fff;
}

/*Section-E*/

#section-e {
  background: url("../images/background4.svg");
  background-size: cover;
  width: 100%;
  height: auto;
}
#section-e h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  padding-top: 8em;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #000;
}
#section-e .attribute {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
  display: block;
  text-align: center;
}
#section-e p {
  width: 50%;
  margin: 0 auto;
}
#section-e span {
  font-weight: 500;
}
.circle {
  width: 5%;
  display: inline-block;
}
.circle-container {
  text-align: center;
  font-weight: 500;
  margin: 2em;
  margin-bottom: 0;
}

#section-e .btn-container:nth-of-type(2) #secondary-btn {
  padding-right: 2em;
  padding-left: 2em;
}
#section-e .btn-container:nth-of-type(3) #secondary-btn {
  padding-right: 3.1em;
  padding-left: 3.1em;
}

/*Rockets*/

#section-f h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  padding-bottom: 0;
}
#section-f h2 {
  font-weight: 500;
}
#section-f #line1 {
  width: 30%;
  margin-top: 0;
  margin-left: 10em;
}
#section-f .card {
  background: rgb(59, 58, 58);
  border-radius: 5px;
  padding: 1em;
}
.rocket-card {
  min-width: 200px;
  max-width: 300px;
  flex-basis: auto;
  flex-grow: 1;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 1em;
}
.card-content img {
  border-radius: 5px;
}
.card-title {
  font-size: 1.2em;
}
.rocket-fetch {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin-top: 5em;
}
.rocket-fetch .rocket-card:nth-of-type(4) .rocket-spec {
  padding-bottom: 1em;
}

.rocket-spec {
  width: 90%;
  font-weight: 300;
  color: #fff;
  padding: 0;
  line-height: 1.5;
  text-transform: capitalize;
}
.rocket-spec span {
  font-weight: 500;
  padding-right: 1em;
}
.rocket-name {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 0;
  padding-bottom: 0.5em;
}

#section-f {
  background: url("../images/background6.svg");
  background-size: cover;
  width: 100%;
  padding-bottom: 5em;
}

/*Section G*/

/*ValidateForm*/
#first-name-error {
  display: none;
}
#last-name-error {
  display: none;
}
#email-error {
  display: none;
}
#message-error {
  display: none;
}
#contact-form {
  padding-right: 2em;
  margin-bottom: 5em;
}
.form-group {
  padding: 2em;
}
#form-group input[type="text"],
textarea {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #ccc;
  transition: 0.5s;
  resize: none;
}
input[type="text"]:focus {
  border: 3px solid #2690d4;
  outline: none;
}
textarea:focus {
  border: 3px solid #2690d4;
  outline: none;
}
label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
}
.form-group .btn-container {
  margin-top: 1em;
}
input[type="submit"] {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
}
.btn-container input:hover {
  background: #2690d4;
  transition: all 0.5s ease-out;
}
.btn-container input {
  border: 1px solid black;
}
#section-g {
  background: url("../images/background7.svg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#section-g .btn-container {
  justify-content: flex-end;
}
#section-g #secondary-btn {
  border: 1px solid #fff;

  padding-right: 2em;
  padding-left: 2em;
  margin-right: 2em;
}
#section-g #secondary-btn a {
  color: #fff;
}

#section-g h1 {
  padding-left: 1em;
  font-size: 3em;
  font-weight: 300;
  margin-top: 2em;
  padding-bottom: 0.5em;
}
#section-g #line1 {
  width: 30%;
  margin-top: 0;
  margin-left: 2em;
}
#section-h {
  background: #eaeaea;
}
#section-h h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
#section-h .line {
  width: 50%;
  margin-left: 5em;
}
.history-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin-top: 2em;
}
#section-h .btn-container {
  padding-bottom: 10em;
}

.history-cards p:nth-of-type(2) {
  font-weight: 300;
}
#section-h li {
  min-width: 200px;
  max-width: 300px;
  flex-basis: auto;
  flex-grow: 1;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

#section-h .card {
  border-radius: 5px;
  padding: 1em;
}

#footer {
  height: 10em;
  background: #2690d4;
  margin-bottom: 4em;
}
#footer .copyright,
.icons {
  padding: 1em;
  text-align: center;
  color: #fff;
}
#footer .icons i:hover {
  color: black;
}
#secondary-btn:hover {
  background: #2690d4;
  transition: 1s ease-out;
}
/*media Queries medium screens*/
@media (min-width: 600px) {
  img {
    width: 80%;
    margin: 0 auto;
  }
  #section-h img {
    width: 100%;
  }

  #section-f img {
    width: 100%;
  }
  .history-container {
    width: 80%;
    margin: 0 auto;
  }
  .falcon9-container {
    width: 80%;
    margin: 0 auto;
  }
  .form-group input[type="submit"] {
    width: 50%;
    margin: 0 auto;
  }
  #section-f .rocket-card:nth-of-type(2) .card-content .card-title {
    padding-bottom: 7.5em;
  }
  #section-f .rocket-card:nth-of-type(1) .card-content .card-title {
    padding-bottom: 3.8em;
  }
  #section-f .rocket-card:nth-of-type(3) .card-content .card-title {
    padding-bottom: 1.3em;
  }
  #section-f .rocket-card:nth-of-type(4) .card-content .card-title {
    padding-bottom: 2em;
  }
}

/*mobile adjustments*/
@media (max-width: 599px) {
  .line,
  #line1 {
    all: unset;
  }
  .content-wrap {
  }
}

/*desktop*/
@media (min-width: 769px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #section-a #line1 {
    margin-bottom: 3em;
  }
  #section-a #imagecontainer {
    padding-bottom: 30em;
  }

  #section-a #imagecontainer img {
    float: right;
  }

  #section-b #imagecontainer {
    margin: 0;
    padding: 2em;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/4;
    align-self: flex-end;
  }
  #section-b h2 {
    padding: 2em;
    grid-column: 2/4;
    grid-row: 2;
    justify-self: center;
    align-self: flex-start;
  }
  #section-b .history-container {
    padding: 0;
    padding-top: 2em;
    grid-column: 2/4;
    grid-row: 4/5;
  }
  #section-b .btn-container {
    padding-top: 2em;
    display: inline-block;
    grid-column: 2/3;
    grid-row: 5;
    justify-self: center;
    align-self: center;
  }

  #section-b h3 {
    text-align: unset;
  }
  #section-b p {
    margin: 0;
    padding: 0;
    padding-top: 2em;
  }
  #section-c .icons {
    padding-top: 10em;
    grid-column: 1;
    grid-row: 4;
  }
  .youtube-container {
    grid-column: 2/5;
    grid-row: 1/3;
    padding-bottom: 0;
  }
  iframe {
    margin-top: 5em;
    width: 400px;
  }
  #section-c #line1 {
    width: 50%;
    grid-column: 2/4;
    grid-row: 5;
  }
  #section-d img {
    width: 100%;
  }
  .first-container {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1;
    padding-bottom: 5em;
    padding-top: 5em;
  }
  #section-d #line1 {
    grid-column: 2/3;
    grid-row: 2;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 5em;
  }
  .second-container {
    grid-column: 1/3;
    grid-row: 3;
  }
  #section-d h2 {
    margin: 0;
    padding: 0;
    grid-column: 2/4;
    grid-row: 4;
    align-self: end;
  }
  .falcon9-container {
    grid-column: 2/4;
    grid-row: 5;
  }
  #section-d .btn-container {
    grid-column: 2/5;
    grid-row: 6;
  }
  #section-e h2 {
    grid-column: 2;
    grid-row: 1;
  }
  #section-e img {
    grid-column: 1/4;
    grid-row: 2;
  }
  #section-e .attribute {
    grid-column: 2;
    grid-row: 2/3;
    align-self: flex-end;
  }
  #section-e p {
    grid-column: 1;
    grid-row: 3;
  }
  .circle-container {
    grid-column: 1;
    grid-row: 2/3;
    align-self: flex-end;
  }
  #section-e .btn-container:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
  }
  #section-e .btn-container:nth-of-type(3) {
    grid-column: 2;
    grid-row: 4;
  }

  #section-g .form-group {
    color: white;
    background: #333;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 3/4;
    margin-bottom: 5em;
  }

  #section-g h1 {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: flex-start;
  }
  #section-g .btn-container:nth-child(1) {
    grid-column: 3;
    grid-row: 2;
    display: inline-block;
    align-self: center;
  }
  #section-f h1 {
    padding-top: 2em;
  }
  #section-h h1 {
    padding-top: 3em;
  }
  #section-h .line {
    width: 20%;
    margin-left: 30em;
  }
  img {
    width: 40%;
    margin: 0 auto;
  }

  .history-container {
    margin: 0 auto;
  }
  .falcon9-container {
    width: 50%;
    margin: 0 auto;
  }
  .rocket-info li {
    display: block;
  }
  .btn-container {
    margin: 0 auto;
  }

  #showcase {
    height: 100vh;
  }
  #showcase .bg-img {
    background-position: center;
    opacity: 0.8;
    height: 100vh;
  }
  #showcase .content-wrap {
    top: 20em;
    width: 100%;
  }
  .menu-btn {
    display: none;
  }
  .nav-bar {
    display: flex;
    width: 100%;
    height: 5em;
    border-bottom: 2px solid #2690d4;
    bottom: auto;
  }
  .search-container {
    right: 1em;
    position: absolute;
    top: 2.5em;
  }
  .menu {
    all: unset;
  }
  .next-launch-container,
  .menu-nav,
  .nav-item,
  .next-launch {
    all: unset;
  }
  .next-launch-container ul,
  li {
    all: unset;
  }

  .next-launch {
    /* background: white; */
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 0.5em;
    bottom: 0;
    background: black;
    border-top: 2px solid #2690d4;
    border-bottom: 1px solid #2690d4;
    font-size: 0.9em;
    z-index: 10;
  }
  .next-launch ul {
    padding-top: 0.2em;
  }
  .next-launch h3 {
    font-size: 1.2em;
    color: #2690d4;
    padding: 0;
  }
  .menu-nav {
    z-index: 10;
    position: fixed;
    justify-content: center;
    padding-top: 0.5em;
    margin-left: 2em;
    width: 100%;
    display: flex;
    top: 0;
  }
  .nav-item {
    padding: 0.5em;
    font-size: 0.7em;
  }
  .menu-nav .icons {
    display: flex;
    flex-flow: column;
    position: fixed;
    left: 0;
    bottom: 50%;
    background: #000;
    border-radius: 5px;
  }
  .menu-nav .icons i {
    font-size: 2em;
  }
  .company-info {
    padding-top: 0;
  }
  .btn:hover {
    background: #2690d4;
    transition: 1s ease-out;
  }
  .icons i:hover {
    color: #2690d4;
    transition: all 0.5s ease-out;
  }
  .search-container button:hover {
    background: #2690d4;
    transition: 1s ease-out;
  }
}
